/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*main program starts*/
body{
    background-color: rgb(11, 4, 34);
    font-family: 'PT Sans Narrow', sans-serif;/*Setting the body font*/
    color:white;
    display:flex;
    flex-direction: column;
    height: 100vh;
}
/*design of navigation bar starts*/
.navigationBar
{
    height: 2vh;
    width:auto;
    margin: 1vh;
    padding:3% 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:left;
    position: relative;
    transition: ease-in 500ms;
}
.navigationBar>div:hover{
    cursor: pointer;
   
}
.navigationBar>div
{
    display:inline-block;
    

}
/*The logo image that appears on the top left */
.website-logo img
{
    height: 3em;
    width: 3em;
}
/*Profile image that appears on top right*/
.profile img
{
    height: 3em;
    width: 3em;
    border-radius: 50%;
}
/*notification image that is between search  box and profile image*/
.notif img
{
    border:none;
    height: 30px;
    width: 30px;
    background-color:rgb(11, 4, 34);
}

/*.favourites
{
    margin-left: 20px;
    margin-right: 80px;
    color:whitesmoke;
    letter-spacing: 1px;
    
}*/
/*designing the search bar*/
.searchbar
{
    margin-right: 10px;
    margin-left:10px;
    position: relative;
    border:none;
    
}
/*controlling how input will be taken in the search box*/
.searchbar input
{
    width: 100%;
	font-size: 16px;
	text-decoration: none;
	border-radius: 18px;
	border: none;
	padding: 5px;
    color:rgb(156, 104, 154);
	font-weight: 500;
	text-align: left;
    background-color: rgb(20, 5, 65);;

}
/*.notif
{
    margin-left:5px;
    margin-right:10px;
    
}*/
.profile img{
    margin-right:10px;
    align-self: right;
}
/*designing the mood section*/
.mood{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 4%;
    margin-top: 2%;
    /*margin:2vh;
    padding:10px;*/
    width: 75vw;
    height: 10vh;
}


.mood img{
    width: 5em;
    height: 5em;
    border-radius: 35%;
    margin-bottom: 10px;
}


.mood h5
{
    text-align: left;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: rgb(99, 106, 214) 1px 0 10px;;
}
.mood>div:hover
{
    cursor: pointer;
    transform: translateY(-0.25em);
    
}
/*designing the popular artist section*/
.popularartist
{
    
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 15px;
    padding:5px;
    width: fit-content;
    height: 7em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:flex-start;
    
}
.popularartist img{
    width: 7em;
    height: 7em;
    border-radius: 55%;/*circular image*/
    margin: 5px;
    margin-bottom: 10px;
}
/*SO that every div has left margin*/
.popularartist>div{
    margin-left: 3px;
}

h4{
    font-size: small;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 700;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
    letter-spacing: 3px;

}
.popularartist h3
{
    font-size: smaller;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: rgb(99, 106, 214) 1px 0 10px;;    
}
/*when hovering the popular artist section*/
.popularartist>div:hover{
    cursor: pointer;
    transform: translateY(-0.25em);
    
    
    
    
}
/*designing the jump section*/
.jump
{
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 100px;
    
    padding:5px;
    width: fit-content;
    height: 7em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    

}
.jump>div{
    margin:3px;
}
.jump>div:hover{
    cursor: pointer;
    transform:translateY(-5%);
}
.jump img
{
    width: 8.5em;
    height: 8.5em;
    border-radius: 10%;
    margin: 5px;
    margin-bottom: 10px;
}
.jump h3{
    font-size: smaller;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: rgb(99, 106, 214) 1px 0 10px;
}
/*progress bar that appears above the player*/
progress
{
    margin-top: 0px;
    margin-bottom: 0px;
    width:100%;
    color:#050658;
    opacity:1;
    height:4px;
    
}
/*footer that has the player*/
footer{
    position:relative;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: #0e0446;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: flex-start;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
    margin-top: 0px;
    align-items: flex-start;
}

.song-image img
{
    margin-left: 0px;
    width:50px;
    height:50px;
    border-radius: 15%;
}
footer>div{
    margin:3px;
}

.play-icon i{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5%;
    color:rgb(44, 44, 228);
    margin:5px;
    
    opacity:0.5;
    

}
.song-info
{
    
    flex-grow: 3;
}
.song-info h5{
    margin:3px;
    font-size: smaller;
    text-align: left;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: rgb(99, 106, 214) 1px 0 10px;;
}
.song-info p{
    margin:3px;
    font-size: smaller;
    text-align: left;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: lighter;
    text-shadow: rgb(99, 106, 214) 1px 0 10px;; 
}
footer:hover{
    cursor:pointer;
}






